* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: black;
}

nav {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-items: center;
}

img {
    padding: 15px;
}

.button {
    background-color: red;
    color: white;
    margin: 3px 10px;
    padding: 8px 50px;
}

main {
    display: flex;
    flex-direction: row;
}

.green {
    background-color: green;
    min-width: 100px;
    min-height: 100px;

}

.blue {
    background-color: blue;
    min-width: 100px;
    min-height: 100px;   
}

.hide {
    display: none;
}